*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100%;
    overflow-x: none;
    background-color: #85e1ff;
    background-image: linear-gradient(45deg, #85e1ff 0%, #ffd17d 100%);
}

.navcontainer{
    width: 100%;
    background-color: #0c00e9;
    background-image: linear-gradient(160deg, #0c00e9 0%, #80D0C7 100%);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav{
    width: 100%;
}

#navlist{
    width: 100%;
    padding: 15px;
    list-style-type: none;
    font-size: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navlogo{
    font-size: 2.8rem;
    color: azure;
}

a{
    text-decoration: none;
    color: azure;
}

#navItems{
    display: flex;
    gap: 40px;
}

.contentBox{
    width: 70%;
    margin: auto;
    /*border: 1px solid black;*/
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 2rem;
    box-shadow: 0px 0px 30px black;
}

.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leftBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leftBox h2{
    font-size: 1.5rem;
}

.ingdBox{
    font-size: 1.2rem;
    list-style: none;
    padding: 5px;
}

.recipeBox{
    font-size: 1.1rem;
    list-style: none;
    padding: 5px;
}

.rightBox{
    position: relative;
    overflow: hidden;
    transition: all 0.6s linear 0s;
}

.rightBox img{
    height: 250px;
    width: 250px;
    border-radius: 20px;
}

.rightBox:hover{
    transform: scale(1.1);
}

.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 34, 34, 0.713);
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s linear 0s;
}

.rightBox:hover .overlay{
    opacity: 1;
}

.rightBox .overlay span{
    color: white;
    font-size: 1.2rem;
}

.footerBox{
    background-color: #0c00e9;
    background-image: linear-gradient(160deg, #0c00e9 0%, #80D0C7 100%);
    width: 100%;
    text-align: center;
    min-height: 40px;
}

.footerBox p{
    font-size: 1.5rem;
    color: azure;
}